<!--<button class="btnCancel btnBigActive ">Action</button>-->
<!--<button class="btnBigInactive fontParHeadline">Action</button>-->
<!--<button class="btnBigInactive btnConfirm">Action</button>-->
<!--<button class="btnSmActive fontParSubHeading">Action</button>-->
<!--<button class="btnBigInactive fontParBodyText">Action</button>-->
<!--<button class="btnSmInactive fontParHighlighter">Action</button>-->

<!--<input type="text" class="inputError">-->
<!--<input type="text" class="inputActive">-->
<!--<input type="text" class="inputNormal">-->
<!--<input type="text" class="inputSearchNormal">-->
<!--<input type="text" class="inputSearchActive">-->

<router-outlet></router-outlet>
