// Fonts
$fontRoboto: 'Roboto';

//  Colors
$colorPrimaryTxt: #434343;
$colorSecondaryTxt: #BDBDBD;
$colorPrimary: #2092AA;
$colorWarningNegative: #F04E1B;
$colorInactive: #DDDDDD;
$colorOptionalForLabel: #41BD36;
$colorOptional2ForLabel: #F29220;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorWhiteTitle: #f6f6f6;






